mixin case_title(title)
	h1._title#currentTitle #{title}



mixin case_cover(halfsrc, alt)
	figure._cover.scrollTransform
		.mbrt-cascade.firstload(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
			img(src="img/proj/#{halfsrc}", alt="#{alt}")



mixin case_info(role, client, clientURL, date)
	.details.col-4.offset-1
		.spec
			.label 
				.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Role
			h2.role 
				.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") #{role}

		.spec
			.label 
				.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2") Client
			a(href="#{clientURL}" target="_blank").p-link-invert
				h3.client 
					.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3") #{client}

		.spec
			h4.date 
				.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4") #{date}

mixin case_description(description, bookURL, cta='Book details')
		.intro.col-6
			p.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0") #{description}

			.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4")
				a(href="#{bookURL}" target="_blank")._cta
					//- |Get the book
					|#{cta}
					span.link-arrow.black



mixin case_detailview(halfsrc, alt, position, firstload)
	figure.full-image.scrollTransform(class="#{position}")
		.mbrt-cascade(class="#{firstload}" data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
			img(src="img/proj/#{halfsrc}", alt="#{alt}")


mixin case_credits(...args)
	.credits-container
		h5.subtitle.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Credits
		ul.people-list
			each arg, index in args
				- var fixedIndex = (index + 1)
				li.mbrt-cascade(data-cascade="slide-up" data-cascade-delay=fixedIndex data-cascade-delay-mobile=fixedIndex)
					span.role #{arg.role}
					a(href="#{arg.url}" target="_blank").who.p-link-invert #{arg.name}



mixin case_nextproject(title, url)
	footer.next-project
		h5.subtitle.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Next Project
		h2.title.mbrt-cascade(data-cascade="stretch-up" data-cascade-delay="1" data-cascade-delay-mobile="1")
			a(href="#{url}?project=true" title="#{title}" data-text="#{title}").change-page #{title}

		.back-top.mbrt-cascade(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1")
			a(href="#" onclick="toTop()") Back to top


mixin case_preloader(title)
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap
				h2#nextTitle.goTo.hide #{title}


mixin case_moreinfo(role, client, clientURL, date, description, bookURL, ...args)
	#case-info-trigger
		.cascade-mask
			.mbrt-cascade.firstload-mobile.label(data-cascade="fade-up" data-cascade-delay-mobile="2") Info

		.active-bg

	#case-info-wrap
		.width-restriction
			.details
				.spec.js-cascade
					.label Role
					h4.role #{role}

				.spec.js-cascade
					.label Client
					a(href="#{clientURL}" target="_blank").p-link-invert
						h4.client #{client}

				.spec.spec--date.js-cascade
					.date #{date}

				a(href="#{bookURL}" target="_blank")._cta.js-cascade
					|Book details
					span.link-arrow.white.small

			p.description.js-cascade #{description}

			.credits-container
				h4.subtitle.js-cascade Credits
				ul.people-list
					each arg in args
						li.js-cascade
							.role #{arg.role}
							a(href="#{arg.url}" target="_blank").who.p-link-invert #{arg.name}


mixin case_moreinfo_branding(role, client, clientURL, date, description, projectURL)
	#case-info-trigger
		.cascade-mask
			.mbrt-cascade.firstload-mobile(data-cascade="fade-up" data-cascade-delay-mobile="2") Info

		.active-bg

	#case-info-wrap
		.width-restriction
			.details
				.spec.js-cascade
					.label Role
					h4.role #{role}

				.spec.js-cascade
					.label Client
					a(href="#{clientURL}" target="_blank").p-link-invert
						h4.client #{client}

				.spec.spec--date.js-cascade
					.date #{date}

				a(href="#{projectURL}" target="_blank")._cta.js-cascade
					|Visit the site
					span.link-arrow.white.small

			p.description.js-cascade #{description}







