mixin case_title(title)
	h1._title#currentTitle #{title}



mixin case_cover(halfsrc, alt)
	figure._cover.scrollTransform
		img(src="img/proj/#{halfsrc}", alt="#{alt}")



mixin case_info(role, client, clientURL, date)
	.details.col-4.offset-1
		.spec
			.label Role
			h2.role #{role}

		.spec
			.label Client
			a(href="#{clientURL}" target="_blank").p-link-invert
				h3.client #{client}

		.spec
			h4.date #{date}

mixin case_description(description, bookURL, cta='Book details')
		.intro.col-6
			p #{description}

			a(href="#{bookURL}" target="_blank")._cta
				//- |Get the book
				|#{cta}
				span.link-arrow.black



mixin case_detailview(halfsrc, alt, position)
	figure.full-image.scrollTransform(class="#{position}")
		img(src="img/proj/#{halfsrc}", alt="#{alt}")


mixin case_credits(...args)
	.credits-container.col-5.offset-7
		h5.subtitle Credits
		ul.people-list
			each arg in args
				li
					span.role #{arg.role}
					a(href="#{arg.url}" target="_blank").who.p-link-invert #{arg.name}



mixin case_nextproject(title, url)
	footer.next-project
		h5.subtitle Next Project
		h2.title
			a(href="#{url}?project=true" title="#{title}" data-text="#{title}").change-page #{title}

		.back-top 
			a(href="#" onclick="toTop()") Back to top


mixin case_preloader(title)
	#case-preloader.case-preloader
		.content-grid
			.inner-wrap
				h2.goTo#nextTitle.hide #{title}


mixin case_moreinfo(role, client, clientURL, date, description, bookURL, ...args)
	#case-info-trigger
		span.mask-container
			span.up-in Info

		.active-bg

	#case-info-wrap
		.details
			.spec
				.label Role
				h2.role #{role}

			.spec
				.label Client
				a(href="#{clientURL}" target="_blank").p-link-invert
					h3.client #{client}

			.spec.spec--date
				h4.date #{date}

			a(href="#{bookURL}" target="_blank")._cta
				|Book details
				span.link-arrow.white.small

		p.description #{description}

		.credits-container
			h5.subtitle Credits
			ul.people-list
				each arg in args
					li
						span.role #{arg.role}
						a(href="#{arg.url}" target="_blank").who.p-link-invert #{arg.name}



