mixin filter(link, filter, name, quantity, active="")
	a(href="#{link}" projects-filter="#{filter}" class="filter #{active}")
		span.name #{name}
		span.qty #{quantity}

header#proj-filters.filters-wrap
	.content-grid
		#filters-trigger.descriptor
			span.mask-container
				span.up-in Filter by.

		nav.categories
			+filter("#", "all", "All", 12, "active")
			+filter("#", "books-only", "Books", 9)
			+filter("#", "branding-only", "Branding", 3)