mixin filter(link, filter, name, quantity, active="")
	a(href="#{link}" projects-filter="#{filter}" class="filter #{active}" title="Show #{name} Projects")
		span.name #{name}
		span.qty #{quantity}

header#proj-filters.filters-wrap
	.content-grid
		#filters-trigger.descriptor
			.cascade-mask
				span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1")  Filter by.

		nav.categories
			+filter("#", "all", "All", 12, "active")
			+filter("#", "books-only", "Books", 9)
			+filter("#", "branding-only", "Branding", 3)